<nav>
    <div id="brand">
        <img src="" alt="Giphy logo">
        <p>GIPHY</p>
    </div>
    <div id="links">
        <div class="link"><a href="">Reactions</a></div>
        <div class="link"><a href="">Entertainment</a></div>
        <div class="link"><a href="">Sports</a></div>
        <div class="link"><a href="">Stickers</a></div>
        <div class="link"><a href="">Artists</a></div>
    </div>
    <div id="upload">
        <button class="btn btn-primary">Upload</button>
        <button class="btn btn-primary">Create</button>
    </div>
    <div id="user">
        <img src="" alt="user avatar">
        <label for="menu">username</label>
        <select name="menu" id="menu">
            <option value="username">username</option>
            <option value="Collections">Collections</option>
            <option value="Settings">Settings</option>
            <option value="Favorites">Favorites</option>
            <option value="Log Out">Log Out</option>
        </select>
    </div>
</nav>