div#trendingcontainer{
    display: flex;
}
img{
    height: 200px;
    border-radius: 5px;
}
div h3{
    display: inline;margin: 0 2%;
}
ul{
    list-style-type: none;
}
.trending{
    overflow-x: hidden;
}