<div class="search mt-4">
    <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)" class="d-flex">
        <input ngModel type="search" name="search" id="search" placeholder="Search  all the GIFs and stickers" aria-label="Search" class="form-control me-2">
        <button [disabled]="!searchForm.form.valid" class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
<div class="searched">
    <div id="search">
        <ul *ngFor="let gif of gifs">
          <li><img src="{{gif.images.original.url}}" alt=""></li>
      </ul>
    </div>
  
  </div>